@import 'styles/mixins';
@import 'styles/variables';

@mixin box-1($box-color) {
  border: 2px solid $box-color;
  padding: 24px;
  border-radius: 15px;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;

    font-weight: bold;
    font-size: 22px;
    color: $box-color;

    span:first-child {
      color: $box-color;
    }

    span:last-child {
      color: $white-2;
    }
  }

  & > p:nth-child(2) {
    @include font-family-2;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    color: $white-2;

    span:last-child {
      color: $box-color
    }
  }

  & > p:nth-child(3) {
    text-align: center;
    color: $white-2;
    font-size: 16px;
    line-height: 140%;
  }
}

@mixin box-2($box-color) {
  @include box-1($box-color);
  padding: 0;

  & > div:nth-child(1) {
    margin: 24px 24px 0 24px;
  }

  & > p:nth-child(2) {
    margin: 0 24px 0 24px;
  }

  & > p:nth-child(3) {
    margin: 0 24px;
  }

  & > div:nth-child(4) {
    border-top: 1px solid $white-3;

    display: flex;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      user-select: none;

      span {
        @include font-family-2;
        font-size: 56px;
        font-weight: 900;
        color: $white-2;
        margin-bottom: -6px;
      }

      cursor: pointer;

      &:hover {
        span {
          color: $box-color;
        }
        background: rgba(253, 253, 253, 0.1);
      }
    }

    div:first-child {
      width: 50%;
      border-right: 1px solid $white-3;
    }

    div:last-child {
      flex: 1 0 auto;
    }
  }

  &.disabled {
    opacity: 0.5;

    & > div:nth-child(4) div {
      pointer-events: none;
    }
  }
}

.ceroCard > div > div {
  max-width: unset !important;
}

.gridFlex {
  display: flex;
  flex-direction: column;

  .level {
    @include box-1($yellow-1);
  }

  .health {
    @include box-1($red-1);
    margin-top: 24px;
  }

  .points {
    @include box-1($grey-1);
    margin-top: 24px;

    div:nth-child(1) {
      justify-content: center;
    }
  }

  .strength {
    @include box-2($orange-1);
  }

  .agility {
    @include box-2($green-1);
    margin-top: 24px;
  }

  .protection {
    @include box-2($blue-4);
  }

  .magic {
    @include box-2($purple-1);
    margin-top: 24px;
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;

  button {
    width: 100%;
  }
}

@media (min-width: $sm) {
  .btnContainer {
    button {
      width: unset;
    }
  }
}
