@import 'styles/mixins';
@import 'styles/variables';

.container {
  padding: 16px 16px 24px 16px;
  border: 2px solid $white-2;
  border-radius: 15px;
  background: linear-gradient(180.29deg, #313339 -15.25%, #020202 128.83%);
  cursor: pointer;

  &:hover {
    border-color: $white-1;
  }

  & > div:nth-child(5) {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    div:first-child {
      display: flex;
      flex-direction: column;
      margin-top: 8px;

      span:first-child {
        font-size: 16px;
        color: $white-2;
      }

      span:last-child {
        font-size: 20px;
        font-weight: bold;
        margin-top: 8px;
      }
    }

    div:last-child {
      display: flex;

      span:first-child {
        @include font-family-2;
        font-size: 48px;
        font-weight: 900;
        color: $white-1;
      }

      span:last-child {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        margin-bottom: 17px;
        margin-left: 3px;
      }
    }
  }

  &.collectible > div:nth-child(1) span:last-child {
    display: block;
  }

  &.lvlUp:not(.collectible) {
    border-color: $yellow-1;
    box-shadow: 0 0 16px 1px $yellow-1, inset 0 0 16px 1px $yellow-1;

    & > div:nth-child(1) a {
      display: flex;
    }

    & > div:nth-child(4) {
      & > div:first-child span:last-child {
        color: $yellow-1;
      }

      & > div:last-child div {
        background: $yellow-1;
      }
    }

    & > div:nth-child(5) div:last-child span:first-child {
      color: $yellow-1;
    }
  }

  @media (min-width: $sm) {
    padding: 24px 24px 32px 24px;

    & > div:nth-child(5) {
      div:first-child {
        span:first-child {
          font-size: 18px;
        }

        span:last-child {
          font-size: 22px;
        }
      }

      div:last-child {
        span:first-child {
          @include font-family-2;
          font-size: 56px;
        }

        span:last-child {
          font-size: 22px;
        }
      }
    }
  }
}
