@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: $white-2;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-top: 24px;
  }
}

@media (min-width: $sm) {
  .container {
    p {
      font-size: 24px;
    }
  }
}
