@import 'styles/variables';
@import 'styles/mixins';

.input.styles {
  & > label {
    color: $white-3;
    font-size: 14px;
    letter-spacing: 0.01em;
    margin-top: -5px;

    &.focusedLabel {
      color: $white-1;
    }
  }

  & > div {
    border-radius: 10px;
    height: 43px;

    fieldset {
      border: 2px solid $white-3;
    }

    input {
      padding: 13.5px 14px;
      color: $white-1;
      font-weight: bold;
      font-size: 18px;
    }
  }

  &:hover {
    & > div > fieldset {
      border: 2px solid $white-1;
    }
  }

  .focused {
    & > fieldset {
      border: 2px solid $white-1;
    }
  }
}

@media (min-width: $sm) {
  .input.styles {
    & > label {
      font-size: 16px;
      margin-top: -2px;
    }

    & > div {
      height: 50px;

      input {
        font-size: 22px;
      }
    }
  }
}


