@import 'styles/mixins';
@import 'styles/variables';

.container {
  & > div:nth-of-type(3) {
    overflow-x: auto;

    & > p {
      font-size: 16px;
      color: $grey-2;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody tr {
      &:hover {
        background: linear-gradient(188deg, #313339 -13.36%, #020202 84.06%);
      }
    }

    tr {
      border-bottom: 1px solid $white-3;

      th {
        text-align: left;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        padding: 0 6px 32px 6px;

        &:hover {
          svg > path {
            stroke: $white-2
          }
          span {
            color: $white-2;
          }
        }

        svg {
          margin-bottom: -3px;
          padding-right: 3px;
          display: none;

          &.active {
            display: inline;
          }

          &:nth-child(2) {
            transform: rotate(180deg);
            padding-right: 0;
            padding-left: 3px;
          }
        }
      }

      td {
        font-size: 22px;
        font-weight: 900;
        @include font-family-2;
        padding: 0 6px;

        &:nth-child(1) {
          img {
            height: 84px;
          }
        }

        &:nth-child(2), &:nth-child(3), &:nth-child(5) {
          @include font-family-1;
          color: $white-2;
          font-weight: normal;

          a {
            color: $white-2;

            &:hover {
              color: $white-1;
            }
          }
        }

        &:nth-child(2) {
          font-size: 19px;
        }

        &:nth-child(3), &:nth-child(5) {
          font-size: 16px;
        }

        &:nth-child(4) {
          color: $yellow-1;
        }

        &:nth-child(6) {
          color: $orange-1;
        }

        &:nth-child(7) {
          color: $blue-4;
        }

        &:nth-child(8) {
          color: $green-2;
        }

        &:nth-child(9) {
          color: $purple-1;
        }

        &:nth-child(10) {
          color: $green-1;
        }

        &:nth-child(11) {
          color: $red-1;
        }

        &:nth-child(12) {
          color: $blue-3;
        }
      }
    }
  }

  .searchInput {
    & > div {
      width: 100%;
    }

    padding-bottom: 0 !important;
  }

  button {
    width: 100%;
  }
}

@media (min-width: $sm) {
  .searchInput {
    padding-bottom: 16px !important;
  }
}
