@import 'styles/mixins';
@import 'styles/variables';

@mixin title-1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

.container {

  .titleContainer {
    display: flex;
    justify-content: center;

    .title1 {
      @include font-family-2;
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      color: $green-1;
      text-transform: uppercase;
      padding-top: 36px;
    }

    svg {
      display: none;
      margin-left: 32px;

      fill: $white-2;
      width: 26px;
      height: auto;

      cursor: pointer;
      transition: all ease 0.05s;

      &:hover {
        fill: $white-1;
      }
    }
  }

  .title2 {
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    span {
      color: $yellow-1;
    }
  }

  .buttons {
    margin-top: 12px;

    & > div {
      display: flex;
      justify-content: space-between;
    }

    button {
      width: calc(50% - 8px);
    }
  }

  .newChildContainer {
    position: relative;

    & > img {
      position: absolute;
      top: 110px;
      right: 50%;
      z-index: -1;

      &:last-child {
        transform: scale(-1, 1);
        left: 50%;
      }
    }
  }
}

@media (min-width: $md) {
  .container {
    .titleContainer {
      .title1 {
        font-size: 54px;
      }
    }

    .title2 {
      font-size: 24px;
    }
  }
}


