@import 'styles/mixins';
@import 'styles/variables';

.containerMain {
  background: $black-3;
  min-height: 100%;

  .container > div {
    & > div {
      &:not(:first-child) {
        margin-top: 48px;
      }

      & > p:first-child {
        font-size: 20px;
        font-weight: bold;
      }

      & > p:last-child, & > div:last-child {
        font-size: 16px;
        color: $white-2;
        margin-top: 8px;
        line-height: 24px;
        min-height: 50px;

        & > div {
          display: flex;
          position: relative;

          & > div {
            min-width: 8px;
            height: 8px;
            margin: 6px 12px 0 0;
            background: $white-2;
            border-radius: 50%;
            position: relative;

            & > div {
              position: absolute;
              top: 1px;
              left: 1px;
              min-width: 6px;
              height: 6px;
              background: $black-3;
              border-radius: 50%;
            }
          }

          span {
            color: $white-2;
          }
        }
      }

      .contractAddress span {
        word-break: break-all;
      }
    }
  }

  @media (min-width: $md) {
    .container > div > div {
      & > p:first-child {
        font-size: 22px;
      }

      & > p:last-child, & > div:last-child {
        font-size: 18px;
      }
    }
  }
}

