@import 'styles/variables';
@import 'styles/mixins';

.container {
  position: relative;
  overflow: hidden;

  header {
    background: $black-3;
  }

  img.background2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    color: $white-2;

    &.title {
      @include font-family-2;
      color: $black-3;
      font-size: 24px;
      font-weight: 900;
    }

    span {
      font-weight: 900;

      &.green {
        color: $green-1;
      }
      &.red {
        color: $red-1;
      }
      &.blue {
        color: $blue-3;
      }
      &.orange {
        color: $orange-1;
      }
    }
  }

  .containerT1 {
    margin-top: 16px;
    position: relative;

    img.background1 {
      position: absolute;
      top: -490px;
      left: -2300px;
      z-index: -1;
    }

    p:first-child {
      @include font-family-2;
      font-size: 54px;
      font-weight: 900;
      color: $white-1;
      line-height: 110%;
    }

    p:last-child {
      font-size: 18px;
      margin-top: 6px;
    }

    .bookContainer {
      display: flex;
      justify-content: center;

      img {
        width: 60%;
        height: 100%;
        margin-top: 12px;
        max-width: 300px;
      }
    }
  }

  .containerT2 {
    margin-top: 150px;

    & > div > div {
      overflow-x: scroll;
      padding-bottom: 12px;

      margin-top: 24px;
      display: flex;
      justify-content: space-between;
    }

    p:last-of-type {
      margin-top: 12px;
    }
  }

  .containerT3 {
    margin-top: 150px;
    justify-content: center;

    & > div:last-of-type {
      position: relative;
      margin-top: 150px;

      img.background3 {
        position: absolute;
        top: -140px;
        left: -240px;
        z-index: -1;
      }
    }

    p:nth-child(2) {
      margin-top: 12px;
    }
  }

  .containerT4 {
    margin-top: 200px;
    justify-content: center;

    img.background4 {
      position: absolute;
      top: -300px;
      right: -3350px;
      z-index: -1;
    }

    p:nth-child(2) {
      margin-top: 32px;
    }

    & > div:first-child {
      order: 2;
      position: relative;
    }

    & > div:last-child {
      margin-top: 75px;
      margin-bottom: 150px;
      order: 1;
    }
  }

  @media (min-width: $sm) {
  }

  @media (min-width: $md) {
    p {
      line-height: 170%;

      &.title {
        font-size: 40px;
      }
    }

    .containerT1 {
      p:first-child {
        font-size: 73px;
      }

      p:last-child {
        font-size: 18px;
        margin-right: 42%;
      }
    }

    .containerT2 {
      margin-top: 275px;

      p:last-of-type {
        margin-top: 0;
        font-size: 18px;
      }
    }

    .containerT3 {
      justify-content: space-between;

      & > div:last-of-type {
        margin-top: 0;
      }

      p:nth-child(2) {
        margin-top: 16px;
        font-size: 18px;
      }
    }

    .containerT4 {
      margin-top: 250px;
      justify-content: space-between;

      & > div:first-child {
        order: 1;

        img {
          top: -300px;
          right: -3300px;
        }
      }

      & > div:last-child {
        margin-top: 0;
        margin-bottom: 0;
        order: 2;
      }

      p:nth-child(2) {
        margin-top: 16px;
        font-size: 18px;
      }
    }
  }

  @media (min-width: $lg) {
    .containerT1 {
      img.background1 {
        top: -200px;
        left: -2300px;
      }

      p:first-child {
        font-size: 146px;
      }

      p:last-child {
        font-size: 22px;
        margin-top: 0;
        margin-right: 10%;
      }

      .bookContainer {
        justify-content: flex-end;

        img {
          width: 100%;
          max-width: unset;
        }
      }
    }

    .containerT2 {
      margin-top: 450px;
    }

    .containerT3 {
      margin-top: 200px;

      & > div:last-of-type {
        margin-top: 0;

        img.background3 {
          top: -140px;
          left: -240px;
        }
      }
    }
  }
}
