@import 'styles/variables';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    height: 150px;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 24px 0;
    color: $white-1;
  }

  & > div {
    display: flex;

    button {
      min-width: 100px;

      &:first-child {
        margin-right: 24px;
      }
    }
  }

  @media (min-width: $sm) {
    p {
      font-size: 20px;
      margin: 64px 0 24px 0;
    }
  }
}
