@import 'styles/mixins';
@import 'styles/variables';

@mixin title-1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 18px;
}

.container {
  .title {
    @include font-family-2;
    font-size: 54px;
    font-weight: 900;
    text-align: center;

    margin-top: 36px;

    span {
      color: $green-1;
    }
  }

  .vs {
    @include font-family-2;
    font-size: 27px;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
  }

  .fightDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & > div:first-child {
      p:nth-child(1), p:nth-child(3) {
        @include title-1;
        font-size: 20px;
      }

      p:nth-child(2) {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: $white-2;

        margin-bottom: 32px;
      }

      div {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        span {
          color: $yellow-1;
          font-size: 19px;
          margin-top: 4px;
        }
        img {
          height: 26px;
          margin-right: 10px;
        }
      }

      div:nth-child(4)  {
        color: red;
      }
    }

    button {
      width: 100%;
      margin-bottom: 36px;
    }
  }

  .ceroContainerCustom {
    & > div {
      pointer-events: none;
      border-color: $green-1;
      box-shadow: 0 0 16px 1px $green-1, inset 0 0 16px 1px $green-1;
    }
  }

  .ceroContainer2 {
    & > div {
      opacity: 0.4;
      pointer-events: none;

      img {
        transform: scale(-1, 1);
      }
    }
  }

  &.loose {
    .title {
      span {
        color: $red-1;
      }
    }

    .ceroContainerCustom {
      & > div {
        pointer-events: none;
        border-color: $red-1;
        box-shadow: 0 0 16px 1px $red-1, inset 0 0 16px 1px $red-1;
      }
    }
  }
}

@media (min-width: $sm) {
  .container {
    .fightDescription {
      & > div:first-child {
        p:nth-child(1), p:nth-child(3) {
          font-size: 22px;
        }

        p:nth-child(2) {
          font-size: 18px;
          line-height: 32px;
        }
      }
    }

    button {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $md) {
  .container {
    & > div > div:last-child {
      margin-left: 32px;
    }

    .title {
      font-size: 110px;
      margin-top: 0;
    }

    .vs {
      font-size: 54px;
    }

    //div:first-child {
    //  p:nth-child(1), p:nth-child(3) {
    //    font-size: 22px;
    //  }
    //
    //  p:nth-child(2) {
    //    font-size: 18px;
    //    line-height: 32px;
    //  }
    //}
    //
    //button {
    //  margin-bottom: 0;
    //}
  }
}

//@media (max-width: 1279px) {
//  .container {
//    & > div > div:first-child {
//      padding-bottom: 0;
//    }
//
//    & > div > div:not(first-child) {
//      padding-top: 0 !important;
//    }
//
//    & > div > div:last-child {
//      margin-left: 0;
//    }
//
//
//    .title {
//      font-size: 72px;
//    }
//
//    .vs {
//      font-size: 32px;
//      display: none;
//    }
//  }
//}
