@import 'styles/mixins';
@import 'styles/variables';

.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100%;
  min-height: 450px;

  border: 2px solid $white-2;
  border-radius: 15px;

  cursor: pointer;
  overflow: hidden;

  &:hover {
    border-color: $white-1;

    div {
      opacity: 0.25;
    }
  }

  div {
    position: absolute;
    opacity: 0.15;
    border-radius: 50%;
    border: 2px solid $white-1;
  }

  div:nth-last-child(2) {
    top: calc(50% - (125px / 2));
    left: calc(50% - (125px / 2));
    height: 125px;
    width: 125px;
    background: $white-1;
    border: unset;
  }

  div:nth-last-child(3) {
    top: calc(50% - (250px / 2));
    left: calc(50% - (250px / 2));
    height: 250px;
    width: 250px;
  }

  div:nth-last-child(4) {
    top: calc(50% - (375px / 2));
    left: calc(50% - (375px / 2));
    height: 375px;
    width: 375px;
  }

  div:nth-last-child(5) {
    top: calc(50% - (500px / 2));
    left: calc(50% - (500px / 2));
    height: 500px;
    width: 500px;
  }
}

.description {
  & > div > div {
    display: flex;
    position: relative;
    margin-bottom: 16px;

    & > div {
      min-width: 10px;
      height: 10px;
      margin: 6px 16px 0 0;
      background: $white-2;
      border-radius: 50%;
      position: relative;

      & > div {
        position: absolute;
        top: 2px;
        left: 2px;
        min-width: 6px;
        height: 6px;
        background: $black-3;
        border-radius: 50%;
      }
    }

    p {
      font-size: 16px;
      line-height: 130%;
      color: $white-2;

      .green {
        color: $green-1;
      }

      .red {
        color: $red-1;
      }
    }
  }

  button {
    width: 100%;
    margin-top: 48px;
  }
}

@media (min-width: $md) {
  .description {
    & > div > div {
      p {
        font-size: 18px;
      }
    }

    button {
      width: unset;
    }
  }
}
