@import 'styles/mixins';
@import 'styles/variables';

.pageDescription {
  color: $white-1;
  margin-bottom: 100px;

  & > div > div {
    display: flex;
    align-items: center;

    h1 {
      @include font-family-2;
      font-weight: 900;
      font-size: 54px;
      margin: 0;
    }
  }

  & > div > div {
    &:nth-child(1) {
      padding-bottom: 0;
    }

    &:nth-child(2) {
      padding-top: 0;
    }
  }

  .description {
    position: relative;

    .image {
      width: 150px;
      height: auto;
      position: absolute;
      right: 16px;
      display: none;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $grey-2;

      b {
        color: $yellow-1;
      }

      green {
        font-weight: bold;
        color: $green-1;
      }
    }
  }

  @media (min-width: $sm) {
    & > div > div h1 {
      font-size: 72px;
    }

    .description {
      p {
        margin-right: 40px;
        font-size: 18px;
        line-height: 36px;
      }

      .image {
        display: block;
      }
    }
  }

  @media (min-width: $md) {
    & > div > div {
      &:nth-child(1) {
        padding-bottom: 16px;
      }

      &:nth-child(2) {
        padding-top: 16px;
      }
    }
  }

  @media (min-width: $lg) {
    & > div > div h1 {
      font-size: 98px;
    }

    .description p {
      margin-right: 84px;
    }
  }
}

