@import './mixins';
@import './variables';

html, body, body > div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  @include font-family-1;

  a {
    text-decoration: none;
    color: $white-1;
  }

  p {
    margin: 0;
  }
}

* {
  transition: all ease 0.2s;
  color: $white-1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white-1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-3;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-2;
}

/* Helvetica NORMAL */
@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica/Helvetica-Light.ttf);
  font-style: normal;
  font-weight: 300;
  font-display: swap
}
@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica/Helvetica.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap
}
@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica/Helvetica-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

/* Helvetica ITALIC */
@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica/Helvetica-Italic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: swap
}
@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica/Helvetica-Bold-Italic.ttf);
  font-style: italic;
  font-weight: 700;
  font-display: swap
}

/* Gilroy NORMAL */
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-Thin.ttf);
  font-style: normal;
  font-weight: 100;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-UltraLight.ttf);
  font-style: normal;
  font-weight: 200;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-Black.ttf);
  font-style: normal;
  font-weight: 900;
  font-display: swap
}

/* Gilroy ITALIC */
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-ThinItalic.ttf);
  font-style: italic;
  font-weight: 100;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-UltraLightItalic.ttf);
  font-style: italic;
  font-weight: 200;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-RegularItalic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-MediumItalic.ttf);
  font-style: italic;
  font-weight: 500;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf);
  font-style: italic;
  font-weight: 600;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
  font-display: swap
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy/Gilroy-BlackItalic.ttf);
  font-style: italic;
  font-weight: 900;
  font-display: swap
}
