@import 'styles/variables';

@mixin font-family-1 {
  font-family: 'Helvetica';
}

@mixin font-family-2 {
  font-family: 'Gilroy';
}

@mixin logo {
  @include font-family-2;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: $white-1;
}

@mixin tokenNumberAndLevelUp {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 16px;
    color: $white-1;
  }

  a {
    display: none;
    align-items: center;
    color: $yellow-1;
    cursor: pointer;

    span {
      letter-spacing: 0.05em;
      color: $yellow-1;
      font-weight: bold;
      margin-right: 8px;
    }

    img {
      height: 14px;
      margin-bottom: 3px;
    }
  }

  span:last-child {
    display: none;
    font-weight: bold;
    color: $white-2;
  }

  @media (min-width: $md) {
    span {
      font-size: 18px;
    }
  }
}

@mixin tokenImage {
  margin-top: 8px;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

@mixin nameAndExpStyles {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;

  @media (min-width: $md) {
    font-size: 18px;
  }
}

@mixin nameStyles {
  span:first-child {
    color: $white-2;
  }

  span:last-child {
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
  }

  @media (min-width: $md) {
    span:last-child {
      font-size: 22px;
    }
  }
}

@mixin expStyles {
  & > div:first-child {
    display: flex;
    justify-content: space-between;

    span {
      color: $white-2;
    }
  }

  & > div:last-child {
    border: 1px solid $white-2;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    margin-top: 8px;
    position: relative;

    & > div {
      position: absolute;
      top: -1px;
      left: -1px;
      width: 0;
      height: 10px;
      background: $blue-3;
      border-radius: 4px;
    }
  }

  &.maxExperience > div:last-child > div {
    width: calc(100% + 2px);
  }
}
