@import 'styles/variables';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    height: 150px;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 24px 0;
    color: $white-1;

    green {
      color: $green-1;
    }
  }

  button {
    min-width: 100px;
  }

  @media (min-width: $sm) {
    p {
      font-size: 20px;
      margin: 64px 0 24px 0;
    }
  }
}
