@import 'styles/mixins';
@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid $white-2;
  border-radius: 15px;
  background: linear-gradient(180.29deg, #313339 -15.25%, #020202 128.83%);

  .leftSection {
    padding: 16px 16px 25px 16px;

    // Class
    & > div:nth-child(5) {
      @include nameAndExpStyles;
      @include nameStyles;
    }

    // Description
    & > div:nth-child(6) {
      margin-top: 11px;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.5px;

      span {
        a:nth-child(2) {
          color: $green-1;
        }

        a:last-child {
          color: $purple-1;
        }
      }
    }
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid $white-3;

    & > div {
      display: flex;

      & > div {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $white-3;
        padding: 8px 16px;
        width: 50%;

        span:first-child {
          color: $white-2;
          font-size: 16px;
          font-weight: 200;
        }

        span:last-child {
          @include font-family-2;
          font-size: 32px;
          font-weight: 900;
        }

        &:last-child {
          border-left: 1px solid $white-3;
        }
      }
    }

    & > div:nth-child(1) {
      & > div:first-child span:last-child {
        color: $yellow-1;
      }
      & > div:last-child span:last-child {
        color: $red-1;
      }
    }

    & > div:nth-child(2) {
      & > div:first-child span:last-child {
        color: $orange-1;
      }
      & > div:last-child span:last-child {
        color: $blue-1;
      }
    }

    & > div:nth-child(3) {
      & > div:first-child span:last-child {
        color: $green-1;
      }
      & > div:last-child span:last-child {
        color: $purple-1;
      }
    }
  }

  &.collectible .leftSection > div:nth-child(1) span:last-child {
    display: block;
  }

  &.lvlUp:not(.collectible) {
    .leftSection > div:nth-child(1) a {
      display: flex;
    }

    .leftSection > div:nth-child(4) {
      & > div:first-child span:last-child {
        color: $yellow-1;
      }

      & > div:last-child div {
        background: $yellow-1;
      }
    }
  }

  @media (min-width: $sm) {
    flex-direction: row;

    .leftSection {
      max-width: 280px;
      padding: 24px 24px 32px 24px;

      & > div:nth-child(6) {
        font-size: 14px;
      }
    }

    .rightSection {
      div:first-of-type {
        div:first-of-type {
          border-top: unset;
        }
      }

      & > div {
        flex-direction: column;



        & > div {
          width: auto;
          padding: 16px 16px 4px;


          &:first-of-type {
            padding-top: 24px;
          }

          span:first-child {
            font-size: 16px;
          }

          span:last-child {
            font-size: 56px;
          }

          &:last-child {
            border-left: unset;
          }
        }
      }
    }
  }

  @media (min-width: $md) {
    .leftSection {
      & > div:nth-child(6) {
        font-size: 14px;
      }
    }

    .rightSection {
      & > div {
        & > div {
          span:first-child {
            font-size: 18px;
          }
        }
      }
    }
  }
}
