@import 'styles/mixins';
@import 'styles/variables';

.container > div {
  div {
    &:not(:first-child) {
      margin-top: 48px;
    }

    p {
      word-wrap: break-word;
    }

    p:first-child {
      font-size: 20px;
      font-weight: bold;
    }

    p:last-child {
      @include font-family-2;
      font-size: 16px;
      font-weight: 900;
      color: $white-2;

      margin-top: 8px;
    }
  }

  @media (min-width: $md) {
    div {
      p:last-child {
        font-size: 52px;
      }
    }
  }
}
