@import 'styles/mixins';
@import 'styles/variables';

.numberLevelUpCollectible {
  @include tokenNumberAndLevelUp;

  span {
    color: $white-2;
  }
}

.tokenImage {
  @include tokenImage;
}

.name, .experience {
  @include nameAndExpStyles;
}

.name {
  @include nameStyles;
}

.experience {
  @include expStyles;
}
