@import 'styles/variables';

.container {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: $white-1;

  & > span:first-child {
    padding-left: 0;
    width: 46px;

    & > span:first-child {
      padding-left: 0;
    }
  }


  @media (min-width: $sm) {
    font-size: 22px;
  }
}
