@import 'styles/variables';
@import 'styles/mixins';

.headerContainer {
  border-bottom: 1px solid $grey-1;
  margin-bottom: 48px;

  .internalContainer {
    font-weight: bold;
    font-size: 18px;
    color: $white-1;
    padding: 16px 0;

    .active {
      color: #ffffff;
    }

    span, a {
      color: #555657;
      cursor: pointer;

      &:hover {
        color: $white-1;
      }
    }

    .leftBlock {
      display: flex;
      align-items: center;

      & > div {
        display: flex;
        margin-left: 16px;

        & > div {
          width: 3px;
          height: 14px;
          background: #ffffff;
          margin: 0 6px;
        }
      }

      .logo {
        @include logo;
      }
    }

    .rightBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.unconnected {
        justify-content: flex-end;

        a:last-of-type {
          margin-right: 24px;
        }
      }

      button {
        min-width: 150px;
        display: none;
      }

      svg {
        fill: $white-2;
        height: 42px;
        width: 42px;
        display: none;
        cursor: pointer;

        &:hover {
          fill: $white-1;
        }
      }
    }
  }

  @media (min-width: $sm) {
    margin-bottom: 84px;

    .internalContainer {
      font-size: 22px;
      padding: 25px 0;

      .leftBlock {
        & > div {
          margin-left: 32px;

          & > div {
            height: 18px;
            margin: 0 12px;
          }
        }
      }

      .rightBlock {
        svg {
          margin-right: 16px;
        }

        button {
          display: block;
        }
      }
    }
  }

  @media (min-width: $md) {
    .internalContainer {
      .leftBlock {
        & > div {
          margin-left: 64px;
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .headerContainer .internalContainer .rightBlock {
    justify-content: flex-end;

    & > a {
      display: none;
    }

    svg {
      display: block;
    }
  }
}



