@import 'styles/mixins';
@import 'styles/variables';

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 32px 0;

  &.fool {
    padding: 0;
  }

  p {
    font-size: 36px;
    font-weight: 900;
    @include font-family-2;
  }

  & > div {
    display: flex;

    svg {
      fill: $grey-1;
      width: 24px;
      height: auto;

      cursor: pointer;
      transition: all ease 0.05s;

      &:hover {
        fill: $white-1;
      }
    }
  }
}

.container {
  flex-wrap: nowrap !important;
  overflow-x: auto;

  margin: 0 !important;
  width: 100% !important;
  min-height: 524px;

  & > div {
    min-width: 316px;
    padding: 0 0 0 32px !important;

    &:first-of-type {
      margin-left: -32px;
    }
  }

  .cardContainer {
    position: relative;

    &.active {
      & > div {
        border-color: $white-1;
      }
    }

    &.inactive {
      & > div {
        opacity: 0.2;
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;

  padding: 32px 0;

  button {
    width: 100%;
  }
}

@media (min-width: $sm) {
  .title {

  }

  .container {
    min-height: 540px;
  }

  .btn {
    button {
      width: 200px;
    }
  }
}

@media (min-width: $md) {
  .title {
    p {
      padding-top: 0;
      font-size: 54px;
    }
  }

  .btn {
    padding-bottom: 0;
  }
}
