@import 'styles/mixins';
@import 'styles/variables';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $black-1;

  img {
    width: 208px;
  }

  span {
    display: block;
    text-align: center;
    color: $white-2;
    font-size: 22px;
    font-weight: bold;
    line-height: 130%;

    a {
      color: $yellow-1;
    }
  }

  & > div {
    display: flex;
    justify-content: center;
  }
}
