@import 'styles/variables';

.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(6, 6, 7, 0.4);
  backdrop-filter: blur(16px);
  z-index: 10;

  overflow-y: auto;

  display: none;
  justify-content: center;

  &.active {
    display: flex;
  }

  &.alignItemsCenter {
    align-items: center;
  }
}

@media (min-width: $md) {
  .container {
    align-items: center;
  }
}
