@import 'styles/mixins';
@import 'styles/variables';

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.stats {
  width: 100%;
  border: 2px solid $white-2;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  .head {
    display: flex;
    flex-wrap: wrap;

    & > div {
      padding: 16px 16px 8px;
      border-bottom: 1px solid $white-3;

      &:nth-of-type(1) {
        border-right: 1px solid $white-3;
      }

      &:nth-of-type(1), &:nth-of-type(2) {
        width: calc(50% - 33px);
      }

      &:nth-of-type(3) {
        width: 100%;
      }
    }

    p:first-child {
      color: $white-2;
    }

    p:last-child {
      @include font-family-2;
      font-size: 32px;
      font-weight: 900;

      &.color1 {
        color: $green-1;
      }
      &.color2 {
        color: $red-1;
      }
      &.color3 {
        color: $blue-3;
      }
    }
  }

  .body {
    padding: 16px;

    table {
      width: 100%;

      th {
        text-align: left;
        font-weight: normal;
        color: $white-4;
        padding: 0 0 8px 0;
      }

      tr {
        td {
          padding: 8px 0;
          color: $white-1;
          font-size: 14px;

          &:nth-child(1) {
            display: flex;
            align-items: center;

            div {
              display: none;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: $white-1;
              margin-right: 5px;
              margin-top: -3px;
            }
          }

          &:nth-child(2) {
            font-weight: bold;
          }

          &:nth-child(3) {
            font-weight: bold;
            color: $green-1;

            &.loose {
              color: $red-1;
            }
          }
        }
      }
    }
  }

  @media (min-width: $md) {
    .head {
      & > div {
        padding: 24px 24px 12px;

        &:nth-of-type(1), &:nth-of-type(2) {
          width: calc(25% - 48px);
        }

        &:nth-of-type(2) {
          border-right: 1px solid $white-3;
        }

        &:nth-of-type(3) {
          width: calc(50% - 50px);
        }
      }

      p:last-child {
        font-size: 56px;
      }
    }

    .body {
      padding: 24px;

      table tr td {
        font-size: 16px;

        &:nth-child(1) div {
          display: block;
        }
      }
    }
  }
}

.additional {
  margin-top: 32px;

  p:first-child {
    font-size: 20px;
    font-weight: bold;
  }

  p:last-child {
    color: $white-2;
    font-size: 16px;
    margin-top: 8px;
    word-break: break-all;
  }

  &.parent {
    a:first-child {
      color: $green-1;
    }

    a:last-child {
      color: $purple-1;
    }
  }

  @media (min-width: $md) {
    p:first-child {
      font-size: 22px;
    }

    p:last-child {
      font-size: 18px;
    }
  }
}

.topButtons {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 24px;
  }
}
