@import 'styles/variables';
@import 'styles/mixins';

.container {
  margin-top: 134px;
  height: 150px;
  border-top: 1px solid $grey-1;

  .innerContainer, & > div {
    height: 100%;
  }

  .innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child {
      display: flex;
      flex-direction: column;

      span:first-child {
        @include logo;
        cursor: pointer;
      }

      span:last-child {
        font-size: 12px;
        color: $white-2;
      }
    }

    div:last-child {
      display: flex;
      align-items: center;

      svg {
        height: 18px;
        fill: $white-2;
        margin-left: 18px;
      }
    }
  }

  @media (min-width: $sm) {
    .innerContainer {
      div:first-child {
        span:last-child {
          font-size: 14px;
        }
      }

      div:last-child {
        svg {
          height: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}


