@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 200px;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 32px;
    padding: 0 16px;

    p {
      color: $white-2;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      max-width: 60%;

      span {
        font-weight: bold;

        &.red {
          color: $red-1;
        }

        &.green {
          color: $green-1;
        }
      }
    }

    & > div {
      width: 50px;
      height: 50px;
      margin-top: 12px;

      & > div > div {
        border-radius: 3px !important;
      }

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }
}

@media (min-width: $md) {
  .container {
    img {
      height: 300px;
    }

    & > div {
      p {
        font-size: 24px;
        max-width: unset;
      }

      & > div {
        width: 75px;
        height: 75px;

        &:first-child {
          margin-right: 24px;
        }

        &:last-child {
          margin-left: 24px;
        }
      }
    }
  }

}
