@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    svg {
      fill: $white-2;
      width: 24px;
      height: auto;

      cursor: pointer;
      transition: all ease 0.05s;

      &:hover {
        fill: $white-1;
      }
    }
  }


  a {
    @include font-family-2;
    font-size: 32px;
    font-weight: bold;
    margin-top: 24px;
    color: $white-2;

    &:hover, &.active {
      color: $white-1;
    }
  }

  button {
    margin-top: 24px;
  }

  @media (min-width: $sm) {
    button {
      display: none;
    }
  }

  @media (min-width: $md) {
    div svg {
      width: 36px;
    }

    a {
      margin-top: 32px;
      font-size: 48px;
    }
  }
}
