@import 'styles/variables';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  p {
    font-size: 27px;
    font-weight: bold;
  }

  & > div > button:last-child {
    margin-left: 24px;
  }

  & > div > div:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  button {
    width: 100%;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  @media (min-width: $sm) {
    & > div > div:first-child {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    button {
      width: auto;
      margin-bottom: 0;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
        flex-grow: 1;
      }
    }
  }

  @media (min-width: $md) {
    button:last-child {
      flex-grow: 0;
    }
  }
}
