@import 'styles/variables';

.button.styles {
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  text-transform: none;
  padding: 7px 28px 5px 28px;

  &.type-1 {
    background: $blue-1;

    span {
      color: $white-1;
    }

    &:hover {
      background: $blue-2;
    }
  }

  &.type-2 {
    background: $yellow-1;

    span {
      color: $black-1;
    }

    &:hover {
      background: #B4A51D;
    }
  }

  &.inactive {
    opacity: 0.3;
  }

  &.outlined-1 {
    padding: 5px 28px 3px 28px;
    //box-sizing: border-box;
    border: 2px solid $white-1;
    color: $white-1;
    background: none;

    &:hover {
      background: rgb(255, 255, 255, 0.15);
    }
  }

  @media (min-width: $sm) {
    font-size: 22px;
  }
}
